<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}



<form action="/register"  method="post" >

<label for="">firstName</label>
<input placeholder="Enter the name" type="text" name="firstname" id=""><br>

<br>
<label for="">Last Name</label>
<input type="text" placeholder="Enter the Last Name" name="lastname" id="">
<br>
<br>
<label for="">Email</label>

<input type="email" placeholder="Enter The Email" name="email" id=""><br><br>



<label for="">Phone</label>

<input type="number" placeholder="Enter The Phone" name="phone" id=""><br><br>


<input type="submit" name="" id="">
</form>





</body>
</html>